*.mp4
*.avi
*.mov
*.mkv

*.zip
*.rar
*.7z

*.pth
*.pt
*.onnx
*.rknn

*.dat
*.wav
*.fc32
*.iq
*.bin
*.npy
*.npz
*.csv

dataset/
b210_dataset/
bursts/
weights/
logs/
outputs/
results/

__pycache__/
*.pyc
.vscode/
.idea/